body{
    margin: 10;
    font-family:Cinzel, Geneva, Tahoma, sans-serif;
    color: #2d241d;
    background-color: rgb(133, 99, 75);
}

.search-container {
    width: 400px;        
    max-width: 90%;
    margin: auto;  
  }
  
  .search-input{
    width: 100%;         
    padding: 10px;       
    box-sizing: border-box;
  }
  
.topbar{
    background-color: rgb(145, 123, 99);
    padding: 45px 20px 35px 20px;
    text-align: center;
}

.nav-bar{
    margin-top: 18px;
    margin-bottom: 0px;
    padding: 10px;
}

.nav-bar a{
    color: #000000;
    text-decoration: none;
    margin: 0 12px;
    font-weight: bold;
}
.main-section{
    background-color: rgb(145, 123, 99);
}

.footer-section{
    background-color:rgb(145, 123, 99);
}